<body style="background-image: url(https://cdn.pixabay.com/photo/2020/02/06/18/43/water-background-4825172_1280.jpg);">
        <div style="margin-left:540px;color:rgb(56, 220, 135)5)">

                <h1><b>ADMIN LOGIN</b></h1>
        </div>
    <div class="container">
    <div class="box">
        <form action="/login" method="post">
  <div class="mb-3" style="margin-top: 50px;width:560px;margin-left:10px">
    <input type="text" name="userId" placeholder="Admin username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3" style="margin-top: 50px;width:560px;margin-left:10px">
    <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
  </div>
  <button style="margin-left:20px" type="submit" class="btn btn-success">Login</button>
</form>
    </div>
</div>
</body>