<body
  style="background-image: url(https://cdn.pixabay.com/photo/2020/02/06/18/43/water-background-4825172_1280.jpg);background-size: cover;margin:0">
  <div style="height:100vh;background:rgba(0,0,0,0.2);margin:0">
    <div class="container">
      <div class="box" style="transform: translateY(100px);">
        <center>
          <h1>ADMIN LOGIN</h1>
        </center>
        <form action="/login" method="post">
          <div class="mb-3" style="margin-top: 50px;width:560px;margin-left:10px">
            <input type="text" name="userId" placeholder="Admin username" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3" style="margin-top: 50px;width:560px;margin-left:10px">
            <input type="password" name="password" placeholder="Password" class="form-control"
              id="exampleInputPassword1">
          </div>
          <button style="margin-left:20px" type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>