<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/seller/sellerHome" style="color: white;"  style="margin-left: 0px;" >Water Service<sub style="color: gold;">ExplorePlus</sub> </a>
    {{!-- <img style="width: 100px;height:20px" src="https://agenciescdn.notifyvisitors.com/agencies/wp-content/uploads/2021/07/seedcart-1024x223.png" alt=""> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      <div  class="row g-3 align-items-center">
  <div class="col-auto">
     </div>

      <div class="col-auto"  >
    <input  type="text" style="width: 500px;" id="inputPassword6" placeholder="Search for products,brands and more"  class="form-control" aria-describedby="passwordHelpInline">
    </div>
  
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
     
    </span>
   
      {{!-- <div class="btn-group"></div>
    <button   style="margin-left: 30px;" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      {{user.user_name}}
        </button>  --}}
      
    <div class="dropdown">
      {{#if user}}
  <button class="dropbtn">{{user.userName}}</button>
  <div class="dropdown-content">
  <a href="/users/update/{{user.email}}">Account settings</a>
  <a href="/seller/logout">Logout</a>

    {{else}}
        <button   style="margin-left: 30px;" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          more
        </button>
  {{/if}}
        
  </div>
  </div>
</div>
    
    </div>
    <div style="margin-left: 0px;">
       {{#if user}}
              <a href="/seller/orders" style="text-decoration: none;" class="btn btn-secondary"  >Orders</a>


        {{/if}}
    </div>
  </div>
  

</nav>


{{!-- model --}}


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="/seller/addblog" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Discription</label>
    <input type="text" name="discription" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Add image</label>
    <input type="file" name="image" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/seller/blogView" class="btn btn-success">Stories</a>
      </div>
    </div>
  </div>
</div>