<body style="background-color: background: rgb(40,39,50);
background: linear-gradient(90deg, white 14%, white 84%);">
  <div
    style="pading:20px 5px;width:100%;background-color:black;background: rgb(34,189,208);
background: linear-gradient(90deg, rgba(34,189,208,0.9528186274509804) 14%, rgba(3,80,16,0.6026785714285714) 84%);box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
    <h1 style="text-align: center;color:white">WELCOME SELLER</h1>
  </div>
  <div class="container p-3"
    style="background: white;width: 500px;margin-top:50px;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
    <h1 style="text-align: center;">Login</h1>
    <form action="/seller/userLogin" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="color: white;">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color: white;">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button> <a href="/seller/register" class="btn btn-danger">
        Register</a>
      <br><br>
    </form>
  </div>
</body>